html,body{
  background-color: #DDDDDD;

}
.container {
  background-color: white;
  padding: 20px;
  margin: 40px 70px;
}
p {
  margin: 10px 15px;

}
.buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.button-red {
  background-color: red;
  height: 60px;
  width: 120px;
}
.button-blue {
  background-color: blue;
  height: 60px;
  width: 120px;
}
button {
  border:none;
  font-size: 1.5em;
  color: white;
  margin: 10px 15px;
}
.image-box {
  width: 100%;
  height: 400px;
  background-color: grey;
  color: white;
  font-size: 4em;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #000000;
  width: 100%;
}
.buttons-ft{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.button-ft {
  background-color: #000000;
  height: 60px;
  width: 120px;
}
.button-ft button{
  font-size: 1em;
}
